<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <title>My Account</title>
</head>

<body>
    <div class="NavBar">
        <div class="NavLeft">
            <a class="NavButtonLink" href="/">Home</a>
            <% if (user) { %>
                <div class="NavWlc"> Welcome, <%= user.USERNAME %>
                </div>
                <% } %>
        </div>

        <div class="NavMid">
            JokesOnU
        </div>

        <div class="NavRight">
            <% if (!user) { %>
                <a class="NavButtonLink" href="/signup">Sign Up</a>
                <a class="NavButtonLink" href="/login">Log in</a>
                <% } %>
                    <% if (user) { %>
                        <a class="NavButtonLink" href="/account"> My Account</a>
                        <a class="NavButtonLink" href="/logout">Log out</a>
                        <% } %>
        </div>
    </div>
    <div class="AccountInfo">
        <div class="AccInfoLeft">
            <p>First Name: <strong><%= user.FIRST_NAME %></strong>
            </p>
            <p>Last Name: <strong><%= user.LAST_NAME %></strong>
            </p>
            </br>
            <p>UserName: <strong><%= user.USERNAME %></strong>
            </p>
            </br>
            <p>VIP member: <% if (!user.VIP) { %><strong>Nope</strong> <%} else {%> <strong>Yep</strong> <%}%>
            </p>
        </div>
        <div class="AccInfoRight">
            <a class="NavButtonLink" href="/delete-account">Delete Account</a>
        </div>
    </div>
    <% if (user.ADMIN) { %>
        <p> This is an admin account</p>
        <%}%>
            <% if (!user.VIP) { %>
                <form action="/account" method="post">
                    <div class="SecretMesage">Enter the secret answer to become a VIP member and see joke set-ups</div>
                    <labeL for="code">Secret Code</labeL>
                    <% if (typeof correct !=='undefined' && !correct) { %>
                        <p class="error-message">Sorry, wrong answer</p>
                        <% } %>
                            <input name="code" id="code" placeholder="The answer to life" />
                            <button type="submit">Submit</button>
                </form>
                <%}%>





</body>

</html>