<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <title>Delet Account</title>
</head>

<body>
    <div class="NavBar">
        <div class="NavLeft">
            <a class="NavButtonLink" href="/">Home</a>
            <% if (user) { %>
                <div class="NavWlc"> Welcome, <%= user.USERNAME %>
                </div>
                <% } %>
        </div>

        <div class="NavMid">
            JokesOnU
        </div>

        <div class="NavRight">
            <% if (!user) { %>
                <a class="NavButtonLink" href="/signup">Sign Up</a>
                <a class="NavButtonLink" href="/login">Log in</a>
                <% } %>
                    <% if (user) { %>
                        <a class="NavButtonLink" href="/account"> My Account</a>
                        <a class="NavButtonLink" href="/logout">Log out</a>
                        <% } %>
        </div>
    </div>
    
    <form action="/delete-account" method="post" class="DelAccForm">
        <p>Are you sure you want to delete your account?</p>
        <p>- Your account will be un-recoverable</p>
        <p>- All your posts will be deleted forever</p>
        <div>
            <a class="DelAccBtn" href="/">Home</a>
            <button class="DelAccBtn" type="submit">Delete</button>
        </div>
    </form>

</body>