<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="NavBar">
      <a href="/">Home</a>
      <a href="/signup">Sign Up</a>
      <a href="/login">Log in</a>
      <a href="/users">Users</a>
    </div>
    <h1>HomePage</h1>
    <p>User Count: <%= allUsersCount %></p>
    <p>Message Count: </p>
    <p>Message Board... </p>
  </body>
</html>
