<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
</head>

<body>
    <div class="NavBar">
        <% if (user) { %>
            <p>Hello <%= user.USERNAME %>
            </p>
            <% } %>
                <a class="NavButtonLink" href="/">Home</a>
                <% if (!user) { %>
                    <a class="NavButtonLink" href="/signup">Sign Up</a>
                    <% } %>
                        <% if (user) { %>
                            <a class="NavButtonLink" href="/logout">Log out</a>
                            <% } else { %>
                                <a class="NavButtonLink" href="/login">Log in</a>
                                <% } %>
                                    <a class="NavButtonLink" href="/users">Users</a>
    </div>
    <h1>Login</h1>
    <form action="/login" method="post">

        <label for="username">Username:</label>
        <input name="username" type="text" id="username" required>

        <br>

        <label for="password">Password:</label>
        <input name="password" type="password" id="password" required>

        <br>

        <button type="submit">Log in</button>
    </form>
</body>


</html>