<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <title>New Joke</title>
</head>

<body>
    <div class="NavBar">
        <div class="NavLeft">
            <a class="NavButtonLink" href="/">Home</a>
            <% if (user) { %>
                <div class="NavWlc"> Welcome, <%= user.USERNAME %>
                </div>
                <% } %>
        </div>

        <div class="NavMid">
            JokesOnU
        </div>

        <div class="NavRight">
            <% if (!user) { %>
                <a class="NavButtonLink" href="/signup">Sign Up</a>
                <a class="NavButtonLink" href="/login">Log in</a>
                <% } %>
                    <% if (user) { %>
                        <a class="NavButtonLink" href="/account"> My Account</a>
                        <a class="NavButtonLink" href="/logout">Log out</a>
                        <% } %>
        </div>
    </div>
    <h1> Post a new joke </h1>
    <form action="/message" method="post">
        <label for="title">
            SetUp
        </label>
        <input type="text" name="title" id="title" required>
        </input>
        <label for="message">
            Punch Line
        </label>
        <input type="text" name="message" id="message" required>
        </input>
        <button type="submit">Post</button>
    </form>
</body>

</html>