<!DOCTYPE html>
<html>

<head>
    <title>Users</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
</head>

<body>
    <div class="NavBar">
        <div class="NavLeft">
            <a class="NavButtonLink" href="/">Home</a>
            <% if (user) { %>
                <div class="NavWlc"> Welcome, <%= user.USERNAME %>
                </div>
                <% } %>
        </div>

        <div class="NavMid">
            JokesOnU
        </div>

        <div class="NavRight">
            <% if (!user) { %>
                <a class="NavButtonLink" href="/signup">Sign Up</a>
                <a class="NavButtonLink" href="/login">Log in</a>
                <% } %>
                    <% if (user) { %>
                        <a class="NavButtonLink" href="/account"> My Account</a>
                        <a class="NavButtonLink" href="/logout">Log out</a>
                        <% } %>
        </div>
    </div>
    <h1>User List</h1>
    <% allUsers.forEach(user=> { %>
        <p>
            <%= user.USERNAME %>
        </p>
        <p>
            Status: <%= if (!user.ADMIN) %>

        </p>
        <br />
        <% });%>

</body>

</html>