<!DOCTYPE html>
<html>

<head>
    <title>Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="NavBar">
        <a href="/">Home</a>
        <a href="/signup">Sign Up</a>
        <a href="/login">Log in</a>
        <a href="/users">Users</a>
    </div>
    <h1>User List</h1>
    <% allUsers.forEach(user => { %>
        <p><%= user.USERNAME %></p>
        <p><%= user.USER_ID %></p>
        <p><%= user.STATUS %></p>
        <br/>
        <% 
    });%>

</body>

</html>